.side_bar
{
    position: fixed;
    bottom: 0;
    left:0;
    
    background-color: rgb(0, 0, 0);
    
    width: 110px;
    top:89px;
    z-index: 101;
}
.home{
    margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 55px;
  
}
.shorts
{
    margin-left: 25px;
    margin-bottom: 55px;
}
.trending
{
    margin-left: 25px;
    margin-bottom: 55px;
}
.sub2
{
    margin-left: 0px;
}
.library
{
    margin-left: 25px;
    margin-bottom: 55px;
}
.home:hover
{
    background-color: rgb(221, 210, 210);
}
.library:hover
{
    background-color: lightgrey;
}
.trending:hover
{
    background-color: lightgrey;
}
.shorts:hover
{
    background-color: lightgrey;
}
